<p *ngIf="!items"><em>Loading...</em></p>

<h2>Customers</h2>
<i>Simple example of paginated grid.</i>

<table class="table" *ngIf="items">
    <thead>
        <tr>
            <th>Name</th>
            <th>Birth</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of items">
            <td>{{person.name}}</td>
            <td>{{person.birthDate}}</td>
            <td>{{person.gender}}</td>
        </tr>
    </tbody>
</table>

<pager [number]="pageNumber" [pagesTotal]="pagesTotal" (pageSelected)="onPageSelected($event)"></pager>