<p *ngIf="!items">
    <em>Loading...</em>
</p>

<h2>Customers - Infinite scrolled page</h2>

<table class="table" *ngIf="items">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Birth</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of items">
            <td>{{customer.id}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.birthDate}}</td>
            <td>{{customer.gender}}</td>
        </tr>
    </tbody>
</table>
<p class="text-center">
    <a (click)="loadPage(this.page.number + 1)" class="text-center" style="cursor:pointer">» Load more «</a>
</p>